@model AntiCorruptionManagementSystem.Models.Wing

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Wing</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            উইং এর নাম
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("সম্পাদন", "Edit", new { id = Model.Sl }) |
    @Html.ActionLink("তালিকায় ফেরা", "Index")
</p>
