@model AntiCorruptionManagementSystem.Models.Accuser

@{
    ViewBag.Title = "Delete";
}

<h2>আপনি কি সত্যিই মুছতে চান</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>মামলাকারীর তথ্য</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            মামলাকারীর নাম
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            অ্যাকাউন্ট সচল ?
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="মুছুন" class="btn btn-default" /> |
            @Html.ActionLink("তালিকায় ফিরুন", "Index")
        </div>
    }
</div>
