@model AntiCorruptionManagementSystem.Models.Accuser

@{
    ViewBag.Title = "Details";
}

<h2>মামলাকারীর বিবরন</h2>

<div>
    <h4>মামলাকারী</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            মামলাকারীর নাম
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            অ্যাকাউন্ট সচল ?
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("সম্পাদন করুন", "Edit", new { id = Model.Sl }) |
    @Html.ActionLink("তালিকায় ফিরুন", "Index")
</p>
