@model AntiCorruptionManagementSystem.Models.Sajeka

@{
    ViewBag.Title = "Details";
}

<h2>বিবরন</h2>

<div>
    <h4>সজেকা</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            প্রধান উইং এর নাম
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WingId)
        </dd>

        <dt>
            সজেকার নাম
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("সম্পাদন", "Edit", new { id = Model.Sl }) |
    @Html.ActionLink("তালিকায় ফেরা", "Index")
</p>
